<div class="board-header">
  <div class="header-left">
    <h2>Your Board</h2>
    
    <div class="view-toggle">
      <button mat-icon-button 
              [class.active]="viewMode === 'kanban'" 
              (click)="viewMode = 'kanban'"
              matTooltip="Board Ansicht">
        <mat-icon>view_kanban</mat-icon>
      </button>
      <button mat-icon-button 
              [class.active]="viewMode === 'list'" 
              (click)="viewMode = 'list'"
              matTooltip="Listen Ansicht">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-icon-button
              [class.active]="viewMode === 'dashboard'"
              (click)="viewMode = 'dashboard'"
              matTooltip="Projekt Dashboard">
        <mat-icon>dashboard</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="header-actions" *ngIf="viewMode !== 'dashboard'">
    <mat-icon 
      class="info-tooltip-icon"
      matTooltip="• Doppelklick auf Spalte: neuer Task &#10;• Doppelklick auf Karte: Details/Edit"
      matTooltipClass="multi-line-tooltip">
      info_outline
    </mat-icon>

    <button mat-mini-fab color="primary" (click)="openColumnDialog()" matTooltip="Neue Spalte hinzufügen">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<div class="content-wrapper">
  
  <div class="board-layout" cdkDropListGroup *ngIf="viewMode === 'kanban'">
    <app-kanban-column
      *ngFor="let col of sortedColumns"
      [title]="col.name"
      [canEdit]="!col.isSystem"
      [columnId]="col.id" 
      [tasks]="getTasksByColumn(col.id)" 
      (taskDropped)="handleTaskDrop($event, col.id)"
      (addTask)="openTaskDialog(undefined, col.id)"
      (editTask)="openTaskDialog($event)"
      (renameColumn)="openColumnDialog(col)">
    </app-kanban-column>
  </div>

  <app-task-list 
    *ngIf="viewMode === 'list'"
    [tasks]="allTasks"
    [columns]="sortedColumns"
    (editTask)="openTaskDialog($event)">
  </app-task-list>

  <app-dashboard
    *ngIf="viewMode === 'dashboard'"
    [projectId]="projectId!">
  </app-dashboard>
</div>