$color-primary: #F97316;
$color-secondary: #14B8A6;
$color-background: #FFFBF5;
$color-text-primary: #1F2937;
$color-text-secondary: #4B5563;
$color-success: #22C55E;
$color-warning: #F59E0B;
$color-error: #EF4444;


body {
    background-color: #FFFBF5;
}