<div class="column" (dblclick)="onColumnDblClick()">
  <div class="column-header">
    <h2 class="column-title">
      {{ title }} <span class="task-count">({{ tasks.length }})</span>
    </h2>

    <div class="column-actions" *ngIf="canEdit">
      <button mat-icon-button 
              (click)="renameColumn.emit(); $event.stopPropagation()" 
              matTooltip="Spalte umbenennen">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <div 
    class="task-container"
    cdkDropList
    [id]="columnId" 
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="onDrop($event)">
    
    <app-task-card 
      *ngFor="let t of tasks"
      [task]="t"
      cdkDrag
      [cdkDragData]="t" 
      (dblclick)="onTaskDblClick(t, $event)">
      
      <div class="task-placeholder" *cdkDragPlaceholder></div>
      
    </app-task-card>

    <div class="empty-placeholder" *ngIf="tasks.length === 0">
      Keine Tasks vorhanden
    </div>
  </div>
</div>